<md-sidenav-container class="example-sidenav-fab-container">
  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()" *ngIf = "auth.userState | async"><md-icon>menu</md-icon></button>    
    <span>RealTime Parking System</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <!--<span>LogOut</span>-->
    <div *ngIf = "!(auth.userState | async)">
      <button md-button routerLink = "/login">Login</button>
      <button md-button routerLink="/register">Register</button>
    </div>
    <div *ngIf="auth.userState | async">
      <button md-button [mdMenuTriggerFor]="menu">{{(auth.userState | async)?.email}}</button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="logout()">Logout</button>
      </md-menu>
    </div>
  </md-toolbar>
<h1 *ngIf="auth.userState | async">Welcome {{ (auth.userState | async)?.email }}!</h1>
<h1 *ngIf="!(auth.userState | async)">no login</h1>
<router-outlet></router-outlet>
  <md-sidenav #sidenav mode="side" opened="false">
    <md-toolbar color="primary">
        <span>Menu</span>
    </md-toolbar>
    <button md-button *ngIf = "adminState" (click)="sidenav.toggle()"><a routerLink = "/users" >Users</a></button> <br/>
    <button md-button (click)="sidenav.toggle()"><a routerLink = "/locations" >View Locations</a></button><br/>
    <button md-button (click)="sidenav.toggle()"><a routerLink = "/viewbookings" >View My Bookings</a></button><br/>
    <button md-button (click)="sidenav.toggle()"><a routerLink = "/feedback" >View feedbacks</a></button><br/>
    <button md-button *ngIf = "adminState" (click)="sidenav.toggle()"><a routerLink = "/addlocation" >Add Location</a></button><br/>
  </md-sidenav>
</md-sidenav-container>






