  
<div class="container">
    <md-card>
        <md-card-header>
            <md-card-title>
                <h2 class="text-center text-primary">My Bookings</h2>
            </md-card-title>
            <md-card-subtitle>Total bookings-{{booking.bookingsDetail.length}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
             <md-list>
              <md-list-item *ngFor="let booking of booking.bookingsDetail;let i = index" style="border: 1px solid grey; height: auto !important">
                <h4 md-line><strong>Name : {{booking.userName}}</strong></h4>
                <p md-line>Reserved Slot : {{booking.reservedSlot}} </p>
                <p md-line>Date : {{booking.date}}</p>
                <p md-line>Time : {{booking.time}}</p>
                <p md-line>Duration : {{booking.hours}}</p>

          <span class="example-spacer"></span>
          <button md-button md-raised-button color="warn" (click) = "deleteBooking(i,booking.userId)" >Delete</button>
               </md-list-item>
           </md-list>
        </md-card-content>
    </md-card>
</div>